
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: #FFFFFF20;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #FFFFFF20;
}
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
   -fx-fill: #eeeeee;
}
.chart-series-line {
	-fx-effect: dropshadow( gaussian, #FFFFFF33, 8, 0, 0, 0 );
}